# Target output
target/

# IDE files
.idea/
*.iml
.classpath
.project
.settings/

# Compiled class files
*.class

# Logs & Runtime database files
*.log
data/
appendonly.log
dump.rdb*

# Package Files
*.jar
*.war
*.zip
*.tar.gz

# Hotspot crash logs
hs_err_pid*
replay_pid*
